html, body {
    height: 100%;
}

div, html, body {
    margin: 5px;
}

#külső {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    border-radius: 20px;
}

#kérdés_szöveg {
    display: flex;
    flex-direction: row;
    color: black;
    font-size: 40px;
    font-weight: 400;
    border-top-left-radius: 15px;
    border-top-right-radius: 25px;
    padding: 20px;
}

#középső {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    margin-top: 50px;
    margin-right: 25px;
    margin-left: 25px;
}

#válaszok {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
}

#vezérlő {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#kép {
    display: block;
    height:auto;
    max-width: 100%;
    overflow: hidden;
    flex-grow: 0;
    flex-shrink: 0;
    flex-direction: column;
}

.gomb {
    text-align: center;
    font-size: 20px;
    background-color: #c37a7a;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 50px;
    display: flex;
    padding: 20px;
    width: 80px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.kerdes {
    background-color: white;
    border-style: solid;
    border-color: black;
}

.kattintható:hover {
    color: black;
    background-color: #e95858;
    font-weight: bold;
}

.kerdes {
    padding: 10px;
    border-radius: 10px;
}

.jo {
    background-color: green;
    color: black;
}

.rossz {
    background-color: red;
    color: black;
}
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 600px) {
    /* tablet */
    .col-t-1 {
        width: 8.33%;
    }

    .col-t-2 {
        width: 16.66%;
    }

    .col-t-3 {
        width: 25%;
    }

    .col-t-4 {
        width: 33.33%;
    }

    .col-t-5 {
        width: 41.66%;
    }

    .col-t-6 {
        width: 50%;
    }

    .col-t-7 {
        width: 58.33%;
    }

    .col-t-8 {
        width: 66.66%;
    }

    .col-t-9 {
        width: 75%;
    }

    .col-t-10 {
        width: 83.33%;
    }

    .col-t-11 {
        width: 91.66%;
    }

    .col-t-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 769px) {
    /* számítógép */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}

